/* all stylization */

*{
    font-family: 'Roboto';
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 99vw;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 1vw;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #3D6399;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3D6399e3;
  }
  
  ::-webkit-scrollbar-track {
    background: #939ba5e3;
  }
  

/* header */
header {
    display: block;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.75);
}
header .line {
    height: 10px;
    background-color: #3D6399;
}
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 90vw;
}
.header-img {
    width: 80px;
    margin-left: 40px;

}
.header-img img { 
    height: 80px;
}
.header-menu {
    margin-right: 40px;
}
.header-menu ul { 
    display: flex;
    width: 400px;
    height: 50px;
    align-items: center;
    list-style: none;
}
.header-menu ul .active {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.header-menu ul li {
    padding: 10px;
}
.header-menu ul a {
    text-decoration: none;
    height: 40px;
    color: #000000;
    border-radius: 5px;
}
.header-menu ul a:hover {
    background-color: #3D6399;
    color: #ffffff;
    transition: ease 0.8s;
}
.mobile-menu-icon, .mobile-menu {
    display: none;
}

/* 1 section */

.blue-section {
    display: flex;
    align-items: center;
    background-color: rgb(61, 99, 153);
    height: calc(100vh - 110px);
    min-height: 800px;
}
.blue-section--desc {
    width: 50%;
    text-align: center;
}
.blue-section--desc h1 {
    width: 6em;
    font-size: 50px;
    margin-bottom: 30px;
    border-right: 2px solid rgba(255, 253, 253, 0.75);
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
}
.blue-section--desc p {
    color: #ffffff;
    width: 45vw;
    font-size: 25px;
}
.typing-animation {
    animation: blinkCursor 500ms infinite alternate, typing 3s steps(22);
}

@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes blinkCursor{
    50% {
        border-right-color: transparent;
    }
}
.blue-section--img {
    width: 50%;
    height: calc(100vh - 110px);
    background-image: url("../images/img-business-contact.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 2 section */

.white-section {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.white-section-social {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.white-section-social a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-section-social--map {
    height: 50vh;
    width: 49.5vw;
    background-image: url(../images/sw-local.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: inset 0px 0px 32px -6px rgba(0,0,0,0.58);
}
.white-section-social--map h2 {
    text-decoration: none;
    color: #000000;
}
.white-section-social--social {
    height: 50vh;
    width: 49.5vw;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.white-section-social--social---info img {
    width: 30px;
    margin-right: 10px;
}
.white-section-social--social a {
    text-decoration: none;
    color: #000000;
}
.white-section-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    min-height: 550px;
    background-color: #FFFFFF;
}
.white-section--form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding: 10px 45px;
    width: 90%;
    max-width: 450px;
    height: 70vh;
    min-height: 500px;
}
.white-section--form h2 {
    font-size: 2.5rem;
    margin: 2rem;
    color: #000000;
}
.white-section--form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.white-section--form label {
    color: #000000;
    font-size: 17px;
    margin-bottom: 4px;
}
.white-section--form input, .white-section--form select{
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    padding: 7px;
    outline: none;
}
.white-section--form select, .white-section--form input::placeholder {
    color: #919191;
}
.white-section--form textarea {
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.white-section--form button {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    height: 30px;
}




/* footer */

footer {
    height: 110px;
    background-color: #FFFFFF;
    border-top: 1px solid #e6e6e6;
    display: flex;
}
.footer-desc {
    max-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #919191;
}
.footer-desc h3 {
    font-size: 30px;
}
.footer-social {
    display: none;
}
 


@media screen and (max-width: 1020px) {
    .blue-section--desc h1 {
        font-size: 35px;
    }
    .blue-section--desc p {
        font-size: 20px;
    }
    .white-section-social--map h2 {
        font-size: 20px;
    }
    .white-section--form input {
        padding: 7px;
    }
    .white-section--form textarea {
        height: 111px;
    }
}
@media screen and (max-width: 769px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .header-menu {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        margin-right: 30px;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 30px;
        top: 31px;
    }
    .mobile-menu-icon img {
        width: 50px;
    }
    .mobile-menu {
        margin-top: 98px;
        width: 100%;
        text-align: center;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
    .mobile-menu ul {
        position: absolute;
        padding-bottom: 3rem;
        background-color: white;
        width: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
    }
    .mobile-menu ul .active {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
    .mobile-menu ul li a {
        text-decoration: none;
        color: #000000;
    }
}
@media (min-width: 451px) and (max-width: 769px) {
    .blue-section {
        flex-direction: column;
    }
    .blue-section--desc {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    .blue-section--img {
        width: 100%;
        height: 50%;
    }
    .white-section {
        flex-direction: column-reverse;
        height: 200vh;
    }
    .white-section-form {
        width: 100%;
        height: 50%;
    }
    .white-section-social {
        width: 100%;
    }
    .white-section-social--map {
        width: 100vw;
        height: 50vh;
    }
    .white-section-social--social {
        width: 100%;
    }
    .footer-desc h3 {
        font-size: 20px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 450px) {
    .header-img {
        margin-left: 5px;
    }
    .mobile-menu ul {
        padding-left: 0px;
    }
    .blue-section {
        flex-direction: column;
    }
    .blue-section--desc {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    .blue-section--desc p {
        font-size: 14px;
    }
    .blue-section--img {
        width: 100%;
        height: 50%;
    }
    .white-section {
        flex-direction: column-reverse;
        height: 200vh;
    }
    .white-section-form {
        width: 100%;
        height: 50%;
    }
    .white-section--form h2 {
        margin: 0;
    }
    .white-section-social {
        width: 100%;
    }
    .white-section-social--map {
        width: 100%;
    }
    .white-section-social--social {
        width: 100%;
    }
    .footer-desc h3 {
        font-size: 20px;
        margin-top: 10px;
    }
}